<div id="<%= dom_id bill %>">
  <p>
    <strong>Consumer:</strong>
    <%= bill.consumer_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= bill.company %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

</div>
